/ Begin Template: Header
-# removed :height => "108"
%table#tpl_header{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

	%tr

		%td{:align => "center", :valign => "middle", :width => "100%"}

			%a.stc-logo{:href => "http://modbox.ca/", :title => "Visit modbox.ca", :target => "_blank"}
				%img{:src => "https://gallery.mailchimp.com/9d04fb276b7023a982943ca3e/images/23d3b49f-6f02-4423-9ace-08fcb687fd0e.png", :width => "88", :height => "108", :alt => "St Charles Market"}