/ Begin Template: Image 1
%table#tpl_image-1.image{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

	%tr

		%td{:align => "center", :valign => "middle", :width => "100%"}

			-# does height attr get updated when image is changed by the client? removed height 300
			%img.fluid_600{:src => "https://gallery.mailchimp.com/9d04fb276b7023a982943ca3e/images/f4ff2569-1138-4b80-b0f3-afbb12405063.jpg", :alt => "", "mc:edit" => "edit_image-1"}