/ Begin Template: Image 2
%table#tpl_image-2.image{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

	%tr

		%td{:align => "center", :valign => "middle", :width => "100%"}

			-# does height attr get updated when image is changed by the client? removed height 300
			%img.fluid_600{:src => "https://gallery.mailchimp.com/9d04fb276b7023a982943ca3e/images/ab181adb-5f45-46d9-b0fc-2052da69dc4a.jpg", :alt => "", "mc:edit" => "edit_image-2"}